<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headcontent.ejs') %>
    <title>Discussions</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="container">
      <h1 class="text-center">Discussion Board</h1>

      <div class="row" id="centerText">
        <div class="col-sm col-md-6 col-lg-4 my-4">
          <a href="/discussions/createthread/"><button type="button" class="btn btn-primary">Create Thread</button></a>
        </div>
      </div>

      <!-- Discussion Threads -->
      <div class="tableHeading table-responsive table-sm">
        <table class="table table-hover table-striped mb-4">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Thread</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                    <th scope="col">Unread Posts</th>
                    <th scope="col">Total Posts</th>
                    <th></th>
                </tr>
            </thead>
            <tbody 
              <% for (const thread of formattedThreads) { %>
                <tr>
                  <td><%= thread.date.toDateString() %>
                  <td><a href=<%=`/discussions/displaythread?threadId=${thread.threadid}`%>><%= thread.title %></a></td>
                  <td><%= `${thread.firstName} ${thread.lastName}` %> </td>
                  <td><%= `${thread.status.charAt(0).toUpperCase()}${thread.status.slice(1)}` %> </td>
                  <td><%= thread.unreadPostCount %> </td>
                  <td><%= thread.totalPostCount %> </td>
                  <td><form action="/discussions/removethread" method="POST">
                    <input type="hidden" id="threadid" name="threadid" value=<%= thread.threadid %>>
                    <input type="submit" class="btn btn-secondary btn-sm" value="Delete"/>
                  </form></td>
                </tr>
              <% } %>
            </tbody>
        </table>
      </div>



    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
