<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headcontent.ejs') %>
    <script src="/public/quiz.js" type="module"></script>
    <title>Learning Tracks</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="container">
      <h1 class="text-center">My Learning</h1>
      <br>
      <h2></h2>
      <div id="materials"></div>
      <div id="quiz"></div>
      <div id="results"></div>
      <button class="d-none nextButton">Next</button>
      <div id="defaultDisplay">

        <!-- In-Process Learning Track -->
        <div class="row border border-dark my-2 py-2">
          <h4 id="centerText">My In-Process Learning Tracks</h4>
          <div class="col-sm">
          <% for (const track of inProcessTracks) { %> 
              <button id=<%=`${track.trackid}`%> class="row mx-1 startTrack"> <%= track.name %> </button>
            <% } %>
          </div>
        </div>  

        <!-- Available Learning Tracks -->
        <div class="row border border-dark my-2 py-2">
          <h4 id="centerText">Available Learning Tracks</h4>
          <div class="col-sm">
            <table id="openTracks">
              <tbody id="tracksBody">
                <td id="openTrackName"></td>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Completed Learning Tracks -->
        <div class="row border border-dark my-2">
          <h4 id="centerText">My Completed Learning Tracks</h4>
          <div class="col-sm">
          <% for (const result of completedTracks) { %>
            <p class="row mx-1"> <%= result.track %> </p>
            <% } %>
          </div>
        </div>

        <!-- Assessments -->
        <div class="row border border-dark my-2">
          <h4 id="centerText">My Assessment Results</h4>
          <div class="col-sm">
            <% for (const result of completedTracks) { %>
              <p class="row mx-1"><%= `${result.track}: ${100 * result.score / 5}%` %></p>
            <% } %>
          </div>
        </div>

        <!-- Additional Resources -->
        <div class="row border border-dark my-2">
          <h4 id="centerText">Additional Resources</h4>
          <div class="col-sm">
            <p class="row mx-1"><a href="https://www.khanacademy.org/math/cc-fifth-grade-math">Khan Academy</a></p>
            <p class="row mx-1"><a href="https://www.mathsisfun.com/index.htm">Math is Fun</a></p>
          </div>
        </div>

      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
