<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headcontent.ejs') %>
    <title>Profile</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    
    <main class="container">
      <h1 class="text-center">My Profile</h1>
      <div class="row">
        <!-- My Personal Info -->
        <div class="col-sm col-md border border-dark me-1 my-1">
          <p>My Personal Info</p>
          <div id="centerText">
            <p class="fs-4"><%- studentname %></p>
            <p>Student ID #<%- studentid %></p>
            <p><%- studentemail %></p>
          </div>
        </div>
        <!-- My Location Info -->
        <div class="col-sm col-md border border-dark ms-1 my-1"> 
          <p>My School Info</p>
          <div id="centerText">
            <p class="fs-4"><%- schoolname %></p>
            <p> <%- schooladdress %></p>
            <p>School Phone Number: <%- schoolphone %></p>
          </div>
        </div>
      </div>
      
      <!-- Badges -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My Badges</h4>
        <div class="p-2">
          <i class="fas fa-certificate"></i>
          <i class="fas fa-star"></i>
        </div>          
      </div>

      <!-- In-Process Learning Track -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My In-Process Learning Track</h4>
        <div class="col-sm">
          <p class="row border border-dark mx-1 p-2">In-process Learning Track</p>
        </div>
      </div>

      <!-- Completed Learning Tracks -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My Completed Learning Tracks</h4>
        <div class="col-sm">
          <p class="row border border-dark mx-1 my-0 p-2">Learning Track 1</p>
          <p class="row border border-dark mx-1 my-0 p-2">Learning Track 2</p>
          <p class="row border border-dark mx-1 my-0 p-2">Learning Track 3</p>
          <p class="row border border-dark mx-1 mb-1 p-2">Learning Track 4</p>
        </div>
      </div>

      <!-- Assessments -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My Assessment Results</h4>
        <div class="col-sm">
          <p class="row border border-dark mx-1 my-0 p-2">Assessment Results 1</p>
          <p class="row border border-dark mx-1 my-0 p-2">Assessment Results 2</p>
          <p class="row border border-dark mx-1 my-0 p-2">Assessment Results 3</p>
          <p class="row border border-dark mx-1 mb-1 p-2">Assessment Results 4</p>
        </div>
      </div>

    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
