<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headcontent.ejs') %>
    <title>Profile</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    
    <main class="container">
      <h1 class="text-center">My Profile</h1>
      <div class="row">
        <!-- My Personal Info -->
        <div class="col-sm col-md border border-dark me-1 my-1">
          <p>My Personal Info</p>
          <div id="centerText">
            <p class="fs-4"><%- studentname %></p>
            <p>Student ID #<%- studentid %></p>
            <p><%- studentemail %></p>
          </div>
        </div>
        <!-- My Location Info -->
        <div class="col-sm col-md border border-dark ms-1 my-1"> 
          <p>My School Info</p>
          <div id="centerText">
            <p class="fs-4"><%- schoolname %></p>
            <p> <%- schooladdress %></p>
            <p>School Phone Number: <%- schoolphone %></p>
          </div>
        </div>
      </div>
      
      <!-- Badges -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My Badges</h4>        
        <div class="p-2 badges">

          <div class="badge1">  
            <img src="<%= badgeicon %>" />
          </div>
          <div class="badge-titles">
            <%= badgetitle %>
          </div>
          
        </div>        
      </div>

      <!-- In-Process Learning Track -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My In-Process Learning Tracks</h4>
        <div class="col-sm">
        <% for (const track of inProcessTracks) { %> 
            <p class="row border border-dark mx-1 p-2"> <%= track.name %> </p>
          <% } %>
        </div>
      </div>

      <!-- Completed Learning Tracks -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My Completed Learning Tracks</h4>
        <div class="col-sm">
        <% for (const result of completedTracks) { %>
          <p class="row border border-dark mx-1 my-0 p-2"> <%= result.track %> </p>
          <% } %>
        </div>
      </div>

      <!-- Assessments -->
      <div class="row border border-dark my-2">
        <h4 id="centerText">My Assessment Results</h4>
        <div class="col-sm">
          <% for (const result of completedTracks) { %>
            <p class="row border border-dark mx-1 my-0 p-2"><%= `${result.track}: ${result.score}` %></p>
          <% } %>
        </div>
      </div>

    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
